<%= button_to user_facebook_omniauth_authorize_path, disabled: true, method: :post, data: { turbo: false } do %>
          <img id='facebook-image' src=<%= asset_path('omniauth/facebook_center_fixed_disabled.png') %> />
    <p class='text-center'> Coming soon!</p>
<% end %>