<% if devise_mapping.omniauthable? %>
    <div class='flex flex-col px-5 md:px-0 md:w-2/3 xl:w-1/2 mx-auto justify-center items-center gap-3 md:gap-5'>
        <div class='flex flex-col gap-2'>
            <%= render "omniauth/google_oauth2/connect"%>
            <%= render "omniauth/facebook/connect"%>
        </div>
    </div>
<% end %>