<div class='flex flex-col gap-8'>
    <h2 class='text-4xl'>Connect with an existing account</h2>
    <% if devise_mapping.omniauthable? %>
        <div class='flex flex-col justify-center sm:flex-row items-center p-5 border-4'>
            <% resource_class.omniauth_providers.each do |provider| %>
                <div class='flex flex-col gap-2'>
                    <h3 class='text-2xl rounded-sm text-gray-400 font-bold py-6 px-8 block bg-gray-200'>Facebook</h3>
                    <p class='text-xl'> Coming very soon!</p>
                </div>
                <!--<%= button_to "#{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, :facebook), method: :post, data: { turbo: false }, class: 'text-2xl rounded-sm text-white font-bold py-6 px-8 block bg-blue-900' %>-->
            <% end %>
        </div>
    <% end %>
</div>