<div>
  <div class="flex flex-row justify-between">
    <h1 class="text-3xl font-bold"><%= form_title %></h1>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div>
    <%= yield %>
    <div>
    </div>
