<div class='flex flex-col gap-5 xl:gap-10'>
    <div data-controller='friends' class='flex flex-row gap-3'>
        <button class='cursor-pointer buttonlike' data-action='click->friends#show_friends'>Friends</button>
        <button class='cursor-pointer buttonlike' data-action='click->friends#show_friend_requests'>Requests</button>
    </div>
    <div id='friends' class='flex flex-col gap-3 xl:gap-5'>
        <div class='flex flex-col gap-3 items-start'>
            <% if (friendships = @user.accepted_friendships).present? %>
                <%= render partial: 'friendships/friendship', collection: friendships, as: :friendship %>
            <% else %>
                <p class='text-light'>You don't have any friends yet. <%= link_to 'Find', users_path %> some now!</p>
            <% end %>
        </div>
    </div>
    <div id='friend-requests' class='flex flex-col gap-3 xl:gap-5 hidden'>
        <div class='flex flex-col gap-3 items-start'>
            <% if (pending_friendships = @user.pending_friendships).present? %>
                <%= render partial: 'friendships/pending_friendship', collection: pending_friendships, as: :friendship %>
            <% else %>
                <p class='text-light'>No friend requests.</p>
            <% end %>
        </div>
    </div>
</div>