<%= link_to user, data: { turbo: "false" } do %>
  <div id="<%= dom_id user %>">
    <div class='flex flex-row rounded-lg border-2 p-10 gap-20 items-end bg-gray-100'>
      <p class='text-2xl'><%= user.name %></p>
    </div>
  </div>
<% end %>