<div class="flex flex-col mx-auto md:w-2/3 w-full gap-16">
  <div class='flex flex-row justify-end'>
    <%= button_to "Back to user", @user, method: :get, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 text-lg" %>
  </div>
  <h1 class="font-bold text-4xl">Editing User</h1>
  <%= render "form", user: @user %>
</div>
