<div class="w-full">
  <div class='flex flex-row justify-end'>
    <%= button_to "Back to User", @user, method: :get, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
  <h1 class="font-bold text-4xl">Editing user</h1>
  <%= render "form", user: @user %>
</div>
