<div class="w-full flex flex-col gap-10">
  <h1 class="font-bold text-4xl">Users</h1>
  <%= render 'shared/searchbar', path: users_path, title: 'Find a user' %>
  <div id="users" class='flex flex-col gap-5'>
    <%= turbo_frame_tag :search_results do %>
      <% if @users.present? %>
        <div id="users" class='flex flex-col gap-5'>
          <%= render @users %>
        </div>
      <% else %>
        <div class='flex flex-row'>
          <div class='flex flex-col gap-10'>
            <p class='text-xl'>Oops, we couldn't find any users matching your search!</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
