<div class='flex flex-col'>
  <div class='flex flex-row p-10'>
    <%= render @user %>
  </div>
  <div class="w-full flex justify-end">
    <% if current_user == @user %>
      <div class="flex flex-row gap-3">
        <%= link_to 'Edit', edit_user_path(@user), class: "rounded-lg py-3 px-5 bg-yellow-100 inline-block font-medium" %>
        <%= button_to 'Delete', user_path(@user), method: :delete, class: "rounded-lg py-3 px-5 bg-red-100 font-medium" %>
      </div>
    <% end %>
  </div>
</div>
