<div id="<%= dom_id friendship %>">
  <% if action_name != "show" %>
    <%= render 'shared/button/link', title: 'Show this friendship', path: friendship, twcss_color: 'bg-gray-100' %>
    <%= render 'shared/button/link', title: 'Edit this friendship', path: edit_friendship_path(friendship), twcss_color: 'bg-gray-100' %>
    <hr class="mt-6">
  <% end %>
</div>