<div class='flex flex-row gap-3 items-center border-4 p-5'>
    <p class='text-lg'><%= friendship.user.name %> wants to be friends with you!</p>
    <%= button_to 'Accept',friendship_path(friendship), method: :put, params: {friendship: {status: Friendships::Statuses::ACCEPTED}}, class: 'rounded-lg py-3 px-5 bg-blue-100 text-lg' %>
    <%= button_to 'Reject', friendship_path(friendship), method: :put, params: {friendship: {status: Friendships::Statuses::REJECTED}}, class: 'rounded-lg py-3 px-5 bg-blue-100 text-lg' %>
</div>