<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @friendship %>

    <%= link_to 'Edit this friendship', edit_friendship_path(@friendship), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 text-lg" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this friendship', friendship_path(@friendship), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 text-lg" %>
    </div>
    <%= link_to 'Back to friendships', friendships_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 text-lg" %>
  </div>
</div>
