<div class="mx-auto w-full flex">
  <div class="mx-auto">
    <%= render @friendship %>
    <%= render 'shared/button/link', title: 'Edit this friendship', path: edit_friendship_path(@friendship), twcss_color: 'bg-gray-100' %>
    <div class="inline-block ml-2">
      <%= render 'shared/button/form', title: 'Destroy this friendship', path: @friendship, method: :delete, twcss_color: 'bg-gray-100' %>
    </div>
    <%= render 'shared/button/link', title: 'Friendships', path: friendships_path, twcss_color: 'bg-gray-100' %>
  </div>
</div>