  <div class='rounded-lg bg-red-100 p-10 text-xl text-red-700'>
    <div class='flex flex-row justify-center pb-5'>
      <p class='text-xl font-bold'>We need 5 minutes of your time to help populate the database!</p>
    </div>
    <p>Please consider making an account, adding you skipper and leaving a (possibly anonymous) review. Doing so will bring accountability and imporove working conditions within our industry.</p>
  </div>