<div class='flex flex-col pt-16 gap-16'>
  <div class='flex flex-row justify-center'>
    <h1 class='text-7xl font-bold'>About Skipper Buoy</h1>
  </div>
  <div class='flex flex-col items-center gap-10 text-xl'>
    <p>
      Facebook groups have historically been the only place to provide community-wide feedback on skippers, both good and bad. However, the facebook group format is not set up well for accessing older content. When it comes to new fishermen, or fishermen exploring new options, there has been no permanent source of information guiding whom to work for.
    </p>
    <p>
      This site aims to be that source of information, by providing a simple interface to search for, read about, and review skippers. It is 100% community generated, which means all skipper records and reviews are added by us, the fishermen. Right now the project is very new, which means there is almost no content yet. <b>We need your help to populate the database</b>. If you don't see your skipper listed, please consider adding them to the site and leaving a (possibly anonymous) review. Doing so will bring accountability and improve working conditions across our industry for years to come!
    </p>
  </div>
</div>