<div class='flex flex-col pt-16 gap-16'>
  <h1>Contact</h1>
  <div class='flex flex-col gap-10 text-xl'>
    <p>
        We're planning to put a contact form here soon. In the meantime, please let us know your thoughts at:
    </p>
    <div class='flex flex-row justify-center'>
        <h2>contact@skipperbuoy.com</h2>
    </div>
  </div>
</div>