<div>
  <h1 class="text-7xl font-bold">Skipper Buoy</h1>
  <p>
    This site aims to provide clarity to crew and accountability for skippers,
    within the commercial fishing industry.
  </p>
  <p>
    This site is hosted with Google Cloud Platform, and has CI/CD set up with (moooooostly) best practices.
  </p>
</div>
