<%= render 'pages/call_to_action' %>
<div class='flex flex-col items-start justify-between gap-16 p-16'>
  <h1 class='text-7xl font-bold'>Skipper Buoy</h1>
  <div class='flex flex-col items-center gap-10'>
    <p class='text-3xl'>
      This site aims to provide clarity to crew and accountability for skippers
      within the commercial fishing industry. Read more on our <%= link_to 'about page', about_path, class: 'text-purple-600' %>.
    </p>
    <%= link_to 'Create an account', new_user_registration_path, class: "text-3xl rounded-lg text-center py-12 px-16 block bg-blue-100" %>
    <%= link_to 'Log In', new_user_session_path, class: "text-2xl rounded-lg text-center py-10 px-12 block bg-gray-100" %>
  </div>
</div>
