<div class='flex flex-col items-start justify-start gap-16 p-16'>
  <h1 class='text-5xl xs:text-7xl font-bold'>Skipper Buoy</h1>
  <div class='flex flex-col justify-start gap-5 text-2xl xs:text-3xl'>
    <p>
      This site aims to provide clarity to crew and accountability for skippers
      within the commercial fishing industry.</p>
    <p><%= link_to 'Read', about_path, class: 'text-purple-600' %> more on the about page.</p>
  </div>
  <div class='flex flex-row self-center justify-center gap-10'>
    <%= render 'shared/button/link', title: 'Sign up', path: new_user_registration_path, twcss_color: 'bg-blue-100' %>
    <%= render 'shared/button/link', title: 'Log in', path: new_user_session_path, twcss_color: 'bg-gray-100' %>
  </div>
  <p class='text-2xl xs:text-3xl'>Suggestions? <%= link_to 'Send', contact_path, class: 'text-purple-600' %>  us an email!</p>
</div>
