@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-3xl xl:text-4xl;
  }
  h2 {
    @apply text-2xl xl:text-3xl;
  }
  h3 {
    @apply text-xl xl:text-2xl;
  }
  h4 {
    @apply text-lg xl:text-xl;
  }

  hr {
    @apply border-2;
  }

  p,a,button,input {
    @apply text-xs sm:text-sm md:text-base lg:text-lg;
  }

  input[type=submit] {
    @apply text-xs sm:text-sm md:text-base lg:text-lg rounded-md md:rounded-lg py-2 md:py-3 px-3 sm:px-4 md:px-5;
  }
}

@layer components {
  #navbar a,button {
    @apply text-xs sm:text-sm md:text-base lg:text-lg;
  }

  #navbar-image {
    @apply rounded-full;
    height: auto;
    min-width: 40px;
    width: 40px;

    @media screen and (min-width: 400px) {
      min-width: 50px;
      width: 50px;
    }

    @media screen and (min-width: 500px) {
        min-width: 70px;
        width: 70px;
    }
  }

  #searchbar input {
    @apply text-xs sm:text-sm md:text-base lg:text-lg;
  }

  .buttonlike {
    @apply rounded-md sm:rounded-lg py-2 md:py-3 px-3 sm:px-4 md:px-5;
  }

  #footer a {
    font-size: 0.5rem;
  }

  #footer p {
    font-size: 0.5rem;
  }
}