@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  @screen xs {
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-xl;
    }
  }

  hr {
    @apply border-2;
  }

  p,a,button,input {
    @apply text-xs;
  }
  @screen 3xs {
    p,a,button,input {
      @apply text-sm;
    }
  }
  @screen 2xs {
    p,a,button,input {
      @apply text-base;
    }
  }
  @screen xs {
    p,a,button,input {
      @apply text-lg;
    }
  }
  

  input[type=submit] {
    @apply text-xs rounded-md py-2 px-3;
  }
  @screen 3xs {
    input[type=submit] {
      @apply text-sm px-4
    }
  }
  @screen 2xs {
    input[type=submit] {
      @apply text-base rounded-lg py-3 px-5
    }
  }
  @screen xs {
    input[type=submit] {
      @apply text-lg
    }
  }
}

#navbar a,button {
  @apply text-xs;
}
@screen 3xs {
  #navbar a,button {
    @apply text-sm
  }
}
@screen 2xs {
  #navbar a,button {
    @apply text-base
  }
}
@screen xs {
  #navbar a,button {
    @apply text-lg
  }
}


#navbar-image {
  @apply rounded-full;
  height: auto;            
  min-width: 40px;
  width: 40px;

  @screen 2xs {
    min-width: 50px;
    width: 50px;
  }

  @screen xs {
      min-width: 70px;
      width: 70px;
  }
}

#searchbar input {
  @apply text-xs
}
@screen 3xs {
  #searchbar input {
    @apply text-sm;
  } 
}
@screen 2xs {
  #searchbar input {
    @apply text-base;
  } 
}
@screen xs {
  #searchbar input {
    @apply text-lg;
  } 
}

.buttonlike {
  @apply rounded-md py-2 px-3;
}
@screen 3xs {
  .buttonlike {
    @apply px-4
  }
}
@screen 2xs {
  .buttonlike {
    @apply px-5 py-3 rounded-lg
  }
}