<div id="<%= dom_id review %>" class="flex flex-col gap-3 p-3 border">
  <p><%= review.comment %></p>
  <div class='flex flex-row gap-4'>
    <% if review.flags? %>
      <% review.flags.each do |flag| %>
        <p class='flex-null bg-red-100 p-3 text-l rounded-lg'><%= flag %></p>
      <%end%>
    <% else %>
      <p class='flex-null bg-green-100 p-3 text-l rounded-lg'>No Flags</p>
    <% end %>
  </div>
  <p><%= review.author.id %></p>
  <hr class="mt-6">
</div>
