name: Deploy to Production

on:
  push:
    branches:
      - main # or master, depending on your default branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2
          bundler-cache: true

      - name: Install dependencies
        run: bundle install

      - name: Setup production credentials
        run: |
          mkdir -p config/credentials
          echo "${{ secrets.PRODUCTION_KEY }}" > config/credentials/production.key

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H skipperbuoy.com >> ~/.ssh/known_hosts

      - name: Deploy with Capistrano
        run: bundle exec cap production deploy
