<footer class='bg-gray-100 py-7 px-10 flex flex-row justify-between items-center'>
    <nav class='flex flex-row'>
        <ul id="footerLinks" class='flex flex-row items-center text-md gap-10 xs:gap-10 list-none'>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Terms of Service", terms_of_service_path %></li>
            <li><%= link_to "Privacy", privacy_policy_path %></li>
        </ul>
    </nav>
    <p class='text-sm text-gray-400'>© 2023 Landho Dev, LLC</p>
</footer>
