<header>
  <nav class="flex flex-row bg-blue-200 items-center gap-3 p-3">
    <img src="/assets/buoy.png" width="80" height="auto" class="rounded-full" />
    <%= link_to "Skippers", skippers_path, class: "rounded-lg bg-gray-100 py-3 px-5 font-medium" %>
  </nav>
</header>
